<mat-toolbar color="primary">
  <p>Built with</p>
  <a class="footer-links" target="_blank" href="https://angular.io/"
    ><img src="../../../assets/angular-white-transparent.svg" alt="Angular"
  /></a>
  <a class="footer-links" target="_blank" href="https://material.angular.io/"
    ><img
      src="../../../assets/angular-material-logo.svg"
      alt="Angular Material"
  /></a>
  <a class="footer-links" target="_blank" href="https://firebase.google.com/"
    ><img src="../../../assets/logo-logomark.svg" alt="Firebase"
  /></a>
</mat-toolbar>
