<mat-toolbar color="primary" [ngClass]="'mat-elevation-z8'">
  <mat-icon aria-hidden="false" aria-label="Suitcase icon">terminal</mat-icon>
  <a routerLink="" id="app-title">{{ title }}</a>
  <span class="spacer"></span>
  <a
    target="_blank"
    href="https://github.com/davidelng/angular-tech-news-s2i"
    class="github"
    ><img
      src="../../../assets/github-circle-white-transparent.svg"
      alt="GitHub repo link"
  /></a>
</mat-toolbar>
<div class="banner">
  <h2>Tech News is your daily link to stay updated in the tech world</h2>
</div>
